<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>Home Page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<h1>Hello !</h1>
	<p>Welcome to <span th:text="${appName}">Our App</span></p>
</body>

<footer>
	<!-- LicenseThe GeoLite2 databases are distributed under the Creative Commons Attribution-ShareAlike 4.0 International License. 
	The attribution requirement may be met by including the following in all advertising and documentation mentioning features
	 of or use of this database: -->
	This product includes GeoLite2 data created by MaxMind, available from
	<a href="https://www.maxmind.com">https://www.maxmind.com</a>.
</footer>
</html>